.container {
  margin: 35px 0px 0px 0px;
  border: 1px solid var(--lines);
  background: var(--color_back);
  font-size: 18px;
  width: 50px;
}

.container-title {
  border-bottom: 1px solid var(--lines);
  padding: 15px 0px 15px 0px;
  margin: 0px 0px 40px 0px;
  font-size: 28px;
}

.container-main {
  border-bottom: 1px solid var(--lines);
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 30px 0px;
  font-size: 18px;
}

.container-footer {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  font-size: 18px;
}

input,
label {
  display: block;
  text-align: center;
}

button {
  color: var(--light_text);
  background: var(--dark_back);
  width: 100%;
  padding: 5px 20px 7px 20px;
  margin: 0px 0px 0px 0px;
  font-size: 18px;
}
